{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story 10</title>
</head>

<body>
    <section name="form">
    <h2 class="jadwal">Subscribe to my profile!</h2>
    <form name="form_sub" method="POST">
        {% csrf_token %}
        {{form}}
        <input class="submit" id="button-button-2" disabled type="submit" value="Subscribe">
<!--         <button type="submit" id="button_submit" class="btn btn-default" disabled type ="submit">Submit</button> -->
    </form>
    </section>
    </div>
    <script type="text/javascript" src="{% static 'js/js_subscribe.js' %}"></script>
</body>
</html>