{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>My Profile</title>
</head>
<body>
    <div>
        <div data-role="page" id="three">
            {% block content %} {% include 'navbar.html' %} {% endblock %}
            <br>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <a class="icon-kiri" href="https://imgbb.com/"><img src="https://image.ibb.co/fzt4ge/iconeduu.jpg" alt="iconeduu" border="0" style="width: 150px; height: 500px;"></a>
                </div>
                <div class="col-sm-1">
                    <div class="header-three">
                        <h2>E</h2>
                        <h2>D</h2>
                        <h2>U</h2>
                        <h2>C</h2>
                        <h2>A</h2>
                        <h2>T</h2>
                        <h2>I</h2>
                        <h2>O</h2>
                        <h2>N</h2>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a class="icon-kanan" href="https://imgbb.com/"><img src="https://image.ibb.co/j5xx1e/iconed.jpg" alt="iconed" border="0" style="width: 150px; height: 500px;"></a>
                </div>
                <div class="col-sm-6">
                    <a class="edu" href="https://ibb.co/f1tO7K"><img src="https://preview.ibb.co/mwqguz/education.jpg" alt="education" border="0"></a>
                </div>
            </div>
            <div class="row">
                <a href="home" class="btn btn-danger btn-lg" role="button" style="margin-left: 80%; font-color: black;" >Back</a>
            </div>
        </div>
</body>
</html>