{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>My Profile</title>
</head>
<body>
    <div>
        <div data-role="page" id="six">
            {% block content %} {% include 'navbar.html' %} {% endblock %}
                <h1 class="judul-enam">Register Your Account!</h1>
                <div class="container">
                <form action="/action_page.php">
                    <div class="col-sm-3">
                    <div class="form-group row">
                        <label for="user">Nama:</label><br>
                        <input type="text" class="form-control" id="nama">
                    </div>
                    <div class="form-group row">
                        <label for="user">Tanggal Lahir:</label><br>
                        <input type="date" class="form-control" id="tanggal">
                    </div>
                    <div class="form-group row">
                        <label for="email">Email address:</label><br>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group row">
                        <label for="user">Username: </label><br>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group row">
                        <label for="pwd">Password:</label><br>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group row">
                        <label for="pwd">Confirmation Password:</label><br>
                        <input type="password" class="form-control" id="confirm-pwd">
                    </div>
                        <br>
                    <div>
                    <button type="submit" class="btn btn-Success">Daftar</button>
                    </div>
                    <a hrefs="story3.html" class="btn btn-danger btn-lg" role="button" style="float: right; margin-right: 200px; margin-top: 100px; font-color: black;" >Back</a>
                </form>
                </div>
        </div>
    </div>
</body>
</html>