{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Profile</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="story3.html">Home</a></li>
  </ul>
  <ul class="nav navbar-nav">
      <li><a href="identity.html">Identity</a></li>
  </ul>
      <li><a href="education.html">Education</a></li>
      <li><a href="skill.html">Skill</a></li>
      <li><a href="form.html">Sign up</a></li>
      <li><a href="submit.html">Add Schedule</a></li>
      <li><a href="schedule.html">Schedule</a></li>
      <li><a href="schedule.html">login</a></li>
      <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">story 1</a></li>
        <li><a href="#">Story 9</a></li>
        <li><a href="#">story 10</a></li>
      </ul>
  </div>
    </ul>
  </div>
</nav>
{% endblock %}      