<!DOCTYPE html>
<html>
<head>
    <title>My Status</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body id="body-status" style="background-color: lightblue; ">
    <h1 style="text-align: center; font-size: ">Hello, apa kabar?</h1>
    <div class="row">
        <div class="col-md-6">
            <form style="padding: 30px 50px 30px 50px"id="form" method="POST" action="{% url 'add_status' %}">
                {% csrf_token %}
                <h2>Status Harianku :</h2>
                {{daftar.StatusHari}}
                <br>
                <button type="submit" id="submit" class="save btn btn-default">Submit</button>
            </form>
            <br>
        </div>
    </body>
        <div style="padding: 60px 80px 30px 0px" class="col-md-6">
            <table class="table" border="1">
                <thead>
                    <th>Status Harianku</th>
                </thead>
                <tbody>
                    <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
                    {% for list in daftarStatus %}
                    <tr>
                        <td> {{list.StatusHari}} </td>
                    </tr>             
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
    <a id="profil" style="font-size: 30px; margin-left: 80px; text-shadow: 2px 2px 5px yellow;" href="{% url 'profile' %}">Go Check My Profile! >></a>


    
</html>

