{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>JAVASCRIPT</title>
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
    <script src="{% static 'jquery-3.3.1.js' %}" type="text/javascript"></script>
    <script>  
        $(function() {  
            $( "#accordion" ).accordion();  
        });  
        var color = ["#c4c4c4", "#87cefa", "#FDA6f1"];
        var textColor = ["#838b83, #00bfff"];
        var i = 0;
        $(document).ready(function(){
            $("button").click(function(){
                var n = $('body').css('background-color');
                var j = $('h4').css('color');
                $('body').css('background', '#87cefa');
                $('h4').css('color', 'blue');
                $('button').click(function(){
                    $('body').css('background-color', n);
                    $('h4').css('color', j);
                })
            })
        })
        document.onreadystatechange = function(e)
        {
          if(document.readyState=="interactive")
          {
            var all = document.getElementsByTagName("*");
            for (var i=0, max=all.length; i < max; i++) 
            {
              set_ele(all[i]);
            }
          }
        }

        function check_element(ele)
        {
          var all = document.getElementsByTagName("*");
          var totalele=all.length;
          var per_inc=100/all.length;

          if($(ele).on())
          {
            var prog_width=per_inc+Number(document.getElementById("progress_width").value);
            document.getElementById("progress_width").value=prog_width;
            $("#bar1").animate({width:prog_width+"%"},10,function(){
              if(document.getElementById("bar1").style.width=="100%")
              {
                $(".progress").fadeOut("slow");
              }         
            });
          }

          else  
          {
            set_ele(ele);
          }
        }

        function set_ele(set_element)
        {
          check_element(set_element);
        }


    </script> 
        
    <style type="text/css">
        #story8 {
            background-color: #FDA6f1;
        }
    </style>
</head>
<body id="story8">
    <center><h2 id="title8">HELLOO!!</h2></center>
<!--Accordion wrapper-->
    <div class='bar' id='bar1' style="background-color: #819FF7; width:0%; height:5px; border-radius: 3px; "></div>
    <div class='percent' id='percent1' style="position:absolute; display:inline-block; top:3px; left:48%; "></div>
    </div>

    <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true" style="padding: 70px 20px 40px 20px">
    <center>
    <!-- Accordion card -->
    <div class="card" style="width: 70%; background-color: #e6e6fa;">

        <!-- Card header -->
        <div class="card-header z-depth-1 teal lighten-4" role="tab" id="heading10">
            <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                <h4 style="color: magenta;" class="mb-0 black-text text-center font-weight-bold text-uppercase">
                    Aktivitas
                </h4>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapse10" class="collapse show" role="tabpanel" aria-labelledby="heading10" data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text" style="background-color: #f0fff0;">
                <p>Hari ini saya : <br> SDA <br> PPW</p>
            </div>
        </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card" style="width: 70%; background-color: #e6e6fa;">

        <!-- Card header -->
        <div class="card-header z-depth-1 teal lighten-3" role="tab" id="heading11">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                <h4 id="bot 2" style="color: magenta;" class="mb-0 black-text text-center font-weight-bold text-uppercase">
                    Kepanitiaan/Organisasi
                </h4>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11" data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text" style="background-color: #f0fff0;">
                <p>SBF BEM Fasilkom UI 2018<br>Staff BEM Fasilkom UI<br>Staff FnB Compfest 2018<br>Mentor OKK UI 2018</p>
            </div>
        </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card" style="width: 70%; background-color: #e6e6fa;">

        <!-- Card header -->
        <div class="card-header z-depth-1 teal lighten-2" role="tab" id="heading12">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                <h4 style="color: magenta;" class="mb-0 black-text text-center font-weight-bold text-uppercase">
                    Prestasi
                </h4>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12" data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text" style="background-color: #f0fff0;">
                <p>Selalu Bahagia</p>
            </div>
        </div>
    </div>
    <!-- Accordion card -->
    </center>
    </div>
    <!--/.Accordion wrapper-->
    <center><button>Change Theme</button></center>
</body>


</html>