{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>My Profile</title>
</head>
<body>
    <div>
        <div data-role="page" id="one" style="background-color: aqua;">
            <div class="row">
                <div class="col-sm-12">
                    {% block content %} {% include 'navbar.html' %} {% endblock %}
            </div>
            </div>
            <div class="body-content">
            <div class="row"><a class="greeting">Welcome!</a></div>
            <br>
            <div class="row">
                <div class="col-sm-3"><a href="identity.html" class="identity-title">Identity</a></div>
                <div col-sm-6><a class="prof-pics" href="https://ibb.co/cnENCK"><img src="https://preview.ibb.co/f8rPRe/IMG_4060_Copy.jpg" alt="IMG_4060_Copy" border="0" width="500" height="300"></a></div>
                <div class="col-sm-3"><a href="education.html" class="education-title">Education</a></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4"><a href="skill.html" class="skill-title">Skill</a></div>
                <div class="col-sm-4"><a href="form.html" class="daftar">Login</a></div>
                <div class="col-sm-4"><a href="submit.html" class="submit">Kegiatan</a></div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>