{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MY SCHEDULE</title>
</head>
<body background= "https://image.ibb.co/gojxzK/bg.jpg">
	{% block content %} {% include 'navbar.html' %} {% endblock %}
	{%csrf_token%}
    <div data-role="page" id="submit">
    <section name="form">
    <h2 class="jadwal">Jadwal Kegiatanku</h2>
    <form id="form" method="POST" action="{% url 'message_post' %}">
        {% csrf_token %}
        <h2>Nama Kegiatan :</h2>
        {{ message_form.nama_kegiatan }}
        <h2>Hari :</h2>
        {{ message_form.hari }}
        <h2>Waktu:</h2>
        {{ message_form.waktu }}
        <h2>Tempat :</h2>
        {{ message_form.tempat }}
        <h2>Kategori :</h2>
        {{ message_form.kategori }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</section>
	</div>
</body>
</html>