body {
	background-color: #8a2be2;  
}

.table {
	background-color: #fff0f5;
}

.title {
	text-align: center;
	color: #8b3a3a;
	text-shadow: 2px 2px black;
}

#fav {
	color: #8b3a3a;
	font-size: 20px;
	text-shadow: 2px 2px black;
}

th {
	background-color: #fffff0;
}

.col-11 {width: 91.66%;}
.col-2 {width: 16.66%;}

@media only screen and (max-width: 600px) {
	body {
		background-color: #8a2be2;  
	}

	.table {
		background-color: #fff0f5;
	}

	.title {
		text-align: left;
		color: #8b3a3a;
		text-shadow: 2px 2px black;
	}

	#fav {
		color: #8b3a3a;
		font-size: 20px;
		text-shadow: 2px 2px black;
	}

	[class*="col-"] {
        width: 100%;
    }

}