#head {
	font-size: 50px;
}

#loginText {
	font-size: 40px;
	color: blue;
}

#icon {
	width: 50px;
	height: 50px
}


@media only screen and (max-width: 600px) {
	#head {
		font-size: 20px;
	}

	#loginText {
		font-size: 10px;
	}

	#icon {
		width: 20px;
		height: 20px;
	}

}