{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Log in with google</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'cssLogin.css'%}">
</head>
<body>
	<p id="head">Login your account here!</p>
	<center>
	<p id="loginText">login with google</p>
	<a id="icon" href=" {% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google-plus"></i></a></center>
	<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
</body>
</html>