<style>
    #one {
        background-color: aqua !important; 
    }

    .prof-pics {
        width: 40%;
        margin-left: 35%;
    }
    .greeting{
        font-size: 40px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        margin-left: 48%;
    }
    .identity-title {
        font-size: 30px;
        width: 300px;
        padding: 10px;
        margin-left: 200px;
    }
    .education-title {
        font-size: 30px;
        width: 300px;
        padding: 10px;
        margin-left: 220px;
    }
    .skill-title {
        font-size: 30px;
        width: 300px;
        padding: 10px;
        margin-left: 200px;
     }
     .about-title {
        font-size: 30px;
        width: 300px;
        padding: 10px;
        margin-left: 200px;
     }
     .daftar{
        font-size: 30px;
        width: 300px;
        padding: 10px;
        margin-left: 45%;
     }
     .submit {
        font-size: 30px;
        width: 300px;
        padding: 10px;
        margin-left: 200px;
     }

    #two{
        background: LightSkyBlue;
    }
    .header-two {
        text-align: center;
        background: lightgray;
        margin-top: 40px;
    }
    .identity{
        text-align: center;
        font-size: 35px;
    }
    .body-two{
        font-size: 30px;
        padding: 40px;
        margin-top: 100px;
        margin-left: 150px;
    }
    footer-two{
        font-weight: bold;
    }

    #three{
        background-color: #7ad9fdf7;
        font-family: FaktProSoft, Helvetica Neue, helvetica, arial, sans-serif;
    }


    #four {
    background: #70c2ef;
    }

    .skill-pic{
        position: absolute;
        margin-left: 500px;
        margin-top: 100px;
    }

    #content{
        margin-top: 150px;
        font-size: 100px;
    }

    .vl-1 {
        border-left: 6px dotted white;
        height: 500px;
        position: absolute;
        margin-left: 100px;
        margin-top: 100px;
        top: 0;
    }

    .vl-2 {
        border-left: 6px dotted white;
        height: 500px;
        position: absolute;
        margin-left: 350px;
        margin-top: 100px;
        top: 0;
    }

    #six{
        background-color: magenta;
    }

    .judul-enam{
        margin-top: 50px;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    .container{
        margin-top: 80px;
        width: 250px;
        height: 100px;
        font-size: 20px;
    }
    form {
        background-color: greenLight;
    }

    #submit{
        background-image: "https://image.ibb.co/gojxzK/bg.jpg";
    }

</style>